@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --main-background-color: hsl(222, 26%, 31%);
  --card-background-color: hsl(224, 36%, 15%);
  --bottom-background-color: hsl(223, 31%, 20%);
  --button-background-default: rgb(235, 227, 219);
  --button-border-bottom-default: 5px solid #b4a597;
  --button-text-color: rgb(68, 75, 90);
  --secondary-btn-color: hsl(225, 21%, 49%);
  --secondary-btn-border-color: 5px solid hsl(224, 28%, 35%);
  --secondary-btn-text-color: hsl(0, 0%, 100%);
  --evaluate-background-color: rgb(209, 62, 46);
  --evaluate-border-color: 5px solid hsl(6, 70%, 34%);
  --evaluate-button-text-color: hsl(0, 0%, 100%);
  --text-color: white;
  --text-opacity: 65%;
  --slider-background: hsl(223, 31%, 20%);
}

body.secondTheme{
  --main-background-color: hsl(0, 0%, 90%);
  --card-background-color: hsl(0, 0%, 93%);
  --bottom-background-color: hsl(0, 5%, 81%);
  --button-background-default: hsl(45, 7%, 89%);
  --button-border-bottom-default: 5px solid hsl(35, 11%, 61%);
  --button-text-color: rgb(68, 75, 90);
  --secondary-btn-color: hsl(185, 42%, 37%);
  --secondary-btn-border-color: 5px solid hsl(185, 58%, 25%);
  --secondary-btn-text-color: hsl(0, 0%, 100%);
  --evaluate-background-color: hsl(25, 98%, 40%);
  --evaluate-border-color: 5px solid hsl(25, 99%, 27%);
  --evaluate-button-text-color: hsl(0, 0%, 100%);
  --text-color: hsl(60, 10%, 19%);
  --text-opacity: 65%;
  --slider-background: hsl(0, 5%, 81%);
}

body.thirdTheme{
  --main-background-color: hsl(268, 75%, 9%);
  --card-background-color: hsl(268, 71%, 12%);
  --bottom-background-color: hsl(268, 71%, 12%);
  --button-background-default: hsl(268, 47%, 21%);
  --button-border-bottom-default: 5px solid hsl(290, 70%, 36%);
  --button-text-color: hsl(52, 100%, 62%);
  --secondary-btn-color: hsl(281, 89%, 26%);
  --secondary-btn-border-color: 5px solid hsl(285, 91%, 52%);
  --secondary-btn-text-color: hsl(0, 0%, 100%);
  --evaluate-background-color: hsl(176, 100%, 44%);
  --evaluate-border-color: 5px solid hsl(177, 92%, 70%);
  --evaluate-button-text-color: hsl(198, 20%, 13%);
  --text-color: hsl(52, 100%, 62%);
  --text-opacity: 65%;
  --slider-background: hsl(268, 71%, 12%);
}
  
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'League Spartan', sans-serif;
}

.App{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: var(--main-background-color);
}

.card{
  height: auto;
  width: 375px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.top{
  display: flex;
  width: 100%;
  height: 30px;
  /* background: green; */
  align-items: center;
  
  
}

.left{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6px;
}

.right{
  width: 30%;
  height: 100%;
  display: flex;
}

.rightLeft{
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 6px;

}

.themeLabel{
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--text-color);
}

.rightRight{
  width: 50%;
  height: 100%;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}



.theme{
  font-size: 0.7rem;
  letter-spacing: 8px;
  transform: translateX(5%);
  color: var(--text-color);
  display: flex;
}

.rightRightBottom{
  height: 50%;
  width: 100%;
  /* background: blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.slider{
  height: 16px;
  width: 80%;
  border-radius: 45px;
  background: var(--slider-background);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding-left: 3px;
}

.selection-container{
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  border-radius: 45px;
  padding-left: 0.1px;
}

.selction1{
  height: 11px;
  width: 11px;
  background: hsl(6, 63%, 50%);
  border-radius: 50%;
  display: block;
}

.selction2{
  height: 11px;
  width: 11px;
  background: rgb(202, 85, 2);
  border-radius: 50%;
  display: none;
}

.selction3{
  height: 11px;
  width: 11px;
  background: rgb(0, 224, 209);
  border-radius: 50%;
  display: none;
}

.middle{
  min-height: 90px;
  width: 100%;
  background: var(--card-background-color);
  border-radius: 9px;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--text-color);
  font-size: 22px;
  flex-direction: column;
}

.previousOperandContainer{
  /* height: 40%; */
  font-weight: 400;
  font-size: 18px;
  opacity: 65%;
  padding-bottom: 5px;
}

.currentOperandContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  justify-content: flex-end;
}


.bottom{
  display: grid;
  flex: 1;
  /* margin-top: 2rem; */
  grid-template-columns: repeat(4, 4.2rem);
  grid-template-rows: repeat(5, 3rem);
  gap: 20px;
  padding: 25px;
  border-radius: 9px;
  background: var(--bottom-background-color);
}

.btn{
  border-radius: 8px;
  cursor: pointer;
  border-bottom: var(--button-border-bottom-default);
  border-right: none;
  border-left: none;
  border-top: none;
  font-size: 1.4rem;
  font-weight: 700;
  background: var(--button-background-default);
  color: var(--button-text-color);
  user-select: none;
}

.btn:hover{
  opacity: 90%;
}

.reset{
  grid-column: span 2;
  background: var(--secondary-btn-color);
  color: var(--secondary-btn-text-color);
  border-bottom: var(--secondary-btn-border-color);
}

.evaluate{
  color: var(--evaluate-button-text-color);
  grid-column: span 2;
  background: var(--evaluate-background-color);
  border-bottom: var(--evaluate-border-color);
}

.calc{
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color);
}

.delete{
  background: var(--secondary-btn-color);
  border-bottom: var(--secondary-btn-border-color);
  color: var(--secondary-btn-text-color);
}

.theme1,
.theme2,
.theme3{
  cursor: pointer;
}

.hidden{
  display: none;
}