@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'League Spartan', sans-serif;
}

.App{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: hsl(222, 26%, 31%);
}

.card{
  height: auto;
  width: 375px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.top{
  display: flex;
  width: 100%;
  height: 10%;
  background: green;
  align-items: center;
  
  
}

.left{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6px;
  
}

.right{
  width: 30%;
  height: 100%;
  display: flex;
}

.rightLeft{
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 6px;

}

.themeLabel{
  font-size: 0.7rem;
  font-weight: 500;
  color: white;
}

.rightRight{
  width: 50%;
  height: 100%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}



.theme{
  font-size: 0.7rem;
  letter-spacing: 8px;
  transform: translateX(5%);
}

.rightRightBottom{
  height: 50%;
  width: 100%;
  background: blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.slider{
  height: 15px;
  width: 73%;
  border-radius: 45px;
  background: hsl(223, 31%, 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px
}

.selction1{
  height: 11px;
  width: 11px;
  background: green;
  border-radius: 50%;
}

.selction2{
  height: 11px;
  width: 11px;
  background: green;
  border-radius: 50%;
  display: none;
}

.selction3{
  height: 11px;
  width: 11px;
  background: green;
  border-radius: 50%;
  display: none;
}

.middle{
  height: 90px;
  width: 100%;
  background: hsl(224, 36%, 15%);
  border-radius: 9px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 22px;
}

.bottom{
  display: grid;
  flex: 1;
  /* margin-top: 2rem; */
  grid-template-columns: repeat(4, 4.2rem);
  grid-template-rows: repeat(5, 3rem);
  gap: 20px;
  padding: 25px;
  border-radius: 9px;
  background: hsl(223, 31%, 20%);
}

.btn{
  border-radius: 8px;
  cursor: pointer;
  border-bottom: 5px solid #b5a596;
  border-right: none;
  border-left: none;
  border-top: none;
  font-size: 1.4rem;
  font-weight: 700;
  background: #eae3dc;
}

.btn:hover{
  background: #cfc9c2;
}

.reset{
  grid-column: span 2;
}

.evaluate{
  grid-column: span 2;
}